<div class="container py-5">
    <div class="row">
        <div class="col">
            <a routerLink="/" class="btn btn-primary">&lArr;</a>
        </div>
    </div>
    <div class="row" *ngIf="student">
        <div class="col-6">
            <img class="d-block w-50 mx-auto" [src]="student.profilePhotoUrl" alt="">
        </div>
        <div class="col-6">
            <h1>{{ student.fullName }}</h1>
            <hr>
            <button (click)="deleteStudent()" class="btn btn-danger">Delete student</button> |
            <a class="btn btn-warning">Update student</a> |
            <button (click)="postActionEnter()" class="btn btn-secondary">Post action enter</button> |
            <button (click)="postActionLeave()" class="btn btn-secondary">Post action leave</button>
            <hr>
            <div class="row">
                <ul>
                    <li *ngFor="let attendanceLog of student.attendanceLogs">
                        <p *ngIf="attendanceLog.logType == 0">Enter {{ attendanceLog.createdDate }}</p>
                        <p *ngIf="attendanceLog.logType == 1">Leave {{ attendanceLog.createdDate }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
